.lib a, th { color: #2db6e4 !important; }

.column p { color: #dadada; }
    
.longdescription .content { 
    background:#2a2d32 !important; 
    color: white; 
    border-width: 5px;
    border-style: solid;
    border-color: #B54747;
    margin-bottom: 70px;
}

#points {
    color: white !important;
}

.content h1, .content h3 h6{ color:#B54747; }

.container { border-color:#00007F !important; }
    
table tbody tr th{
    color: white !important;
}

table tbody tr:hover td, tbody tr:hover th {
    background-color: #18191c;
}

.votebutton {
    background-color: #B54747;
}

.donate { 
    display: none !important; 
}

.bot-name { 
    color: #B54747;
}

.bot-name:hover {
    animation: blur 1s
}

.shapes-background {
    visibility: hidden;
}

#createdby b {
    background-color: #2C2F33;
    color: white !important;
}

#bot-details-page {
    color: #B54747;
    background-color: transparent;
}

#libclick {
    color: #B54747 !important;
    transition: all .1s ease-in;
}

#libclick:hover {
    color: #911d1d !important;
}

.btn-like { 
    color: #B54747 !important;
    background-color: #2C2F33;
}

.btn-like:hover { 
    color: #B54747;
    background-color: #2C2F33;
}

.botpagebutton { 
    color: #B54747;
    background-color: #2C2F33; 
}


.atag { 
    color: white;
    background-color: #2C2F33;
}


.atag::before {
    background-color: #B54747;
}

.atag::after {
    border-bottom: 13px solid transparent;
    border-left: 10px solid #B54747;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: -10px;
}
    
    
.container {
    border-bottom: none !important;
    border-top: none !important;
}

#menu {
    background: #B54747 !important;
    box-shadow: 1px 1px 1px #B54747;
    z-index: 999;
    position: fixed;
}

code {
    background-color: #2C2F33;
}

#bot-details-page .bot-img {
    box-shadow: none !important
}

.bot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    border-radius: 50% !important;
    -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
}

.bot-img img {
    content: url("https://conquestsim.io/img/logo-solid.png") !important;
    background-color: #2C2F33 !important;
}



html, body {
    background-image: url("https://conquestsim.io/img/dblback.png") !important;
}


hr.style-seven {
    background-color: #2a2d32;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #B54747;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #B54747;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}